.ra-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: none;

  background: rgba(0, 0, 0, 0.4);

  z-index: 9999;
}

.ra-background.visible {
  display: flex;
}

#r2u {
  width: 60vw;
  height: 60vh;
  box-shadow: none;
  position: relative;
}

.modal {
  position: absolute;
  z-index: 2;
  width: 30px;
}

#modal {
  background-color: #dfdfdf;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  margin: 10px 0 0 10px;
}

#r2u-qrcode {
  margin-top: 10px;
}

#r2u-viewer {
  width: 100%;
  height: 100%;
}

.expand-button {
  display: none;
}

#button-ar {
  border: 2px solid #0c0e5a;
  width: 200px;
  padding: 1em;
  border-radius: 5px;
  color: #0c0e5a;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  display: none;
}

@media only screen and (max-width: 1024px) {
  /* .r2u {
    --src: url("https://cdn.glitch.com/4b55baa8-00f2-4c10-8599-f51af783bbe7%2Fpg-de-produto_veja_na_sua_casa.png?v=1628013250650");
    position: relative;
    height: 59px;
    margin: 53px 20px 0px 16px;
    background: var(--src) center center/contain no-repeat;
  } */

  #button-ar {
    display: block;
  }
}


#ar-button {
  cursor: pointer;
}



.close-popup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;

  padding: 5px;
}