@media only screen and (min-width: 1024px) {
  .r2u {
    width: 100%;
    float: left;
    margin-bottom: 15px !important;
  }
}

#button-ar {
/*  border: 2px solid #0c0e5a;*/
/*  width: 230px;*/
/*  padding: 1em;*/
/*  border-radius: 5px;*/
    font-weight: bold!important;
    /*color: #fc5a34 !important;*/
    font-family: 'museo', sans-serif;
    /*text-decoration: underline !important;*/
    border: 1px solid #0c0e5a !important;
    
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    color: #0c0e5a !important;
    text-decoration: none !important;
/*  text-align: center;*/
    cursor: pointer;
/*  margin: 0 auto;*/
/*  position: relative;*/
/*  display: none;*/
}

@media only screen and (max-width: 1024px) {
  /*.r2u {
    --src: url("https://cdn.glitch.com/4b55baa8-00f2-4c10-8599-f51af783bbe7%2Fpg-de-produto_veja_na_sua_casa.png?v=1628013250650");
    position: relative;
    height: 59px;
    margin: 20px 20px 0px 16px;
    background: var(--src) center center/contain no-repeat;
  }*/
  
  #button-ar {
    display: block;
  }
}

.modal-RA {
  position: absolute;
  z-index: 2;
  display: none !important;
}

#r2u-viewer {
  width: 100%;
}

#modal {
  background-color: #dfdfdf;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  margin: auto;
}

#ar-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#realidade-aumentada {
    border-radius: 16px !important;
    border: 2px solid #0c0e5a !important;
}

button.expand-button img {
    margin: 0 !important;
}